fastapi
uvicorn
sqlmodel
httpx
python-dotenv
fpdf
jinja2
itsdangerous
starlette
gunicorn
python-multipart
cloudinary
psycopg2-binary
passlib[bcrypt]
qrcode
crcmod
httpx
python-multipart
pydantic
pixqrcode

